@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital@0;1&family=Poppins:ital,wght@0,200;0,700;1,700&display=swap');
:root {
    --page-background: #2b2929;
    --main-background: #d0d1ff;
    --main-color: #333333;
    --accent-color: #000000;
    --link-color: #ff0000;
    --hover-color: #d66ba0;
    --h-color: rgb(255, 0, 234);
    --footer-color: rgb(212, 210, 210);
    --normal-gap: 1em;
    --wide-gap: 2em;
}
html {
    height:100%;
    font-family: 'Noto Serif', serif;
    font-size: 20px;
    background-color: var(--page-background);
    color: var(--main-color);
  }

p {
    text-align: justify;
    font-family: 'Montserrat', sans-serif;
    font-weight:400;
    color: black;
}

h1,h2,h3, footer a, h4 {
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    color: var(--h-color);
    border-bottom: thin solid var(--accent-color);
  }
a {
    color: var(--link-color);
    border: none;
    text-decoration: none;
}
.text a:before {
    content: url(../images/Icons/20px-OOjs_UI_icon_newWindow-ltr.svg.png)" ";
}
footer {
    height: 100%;
    width: 100%;
    background-color: var(--footer-color);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    top:0;
    left:0;
    right:0;
    border-color: #000000;
    border-top: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
footer a {
    font-size: 1rem;
    border: none;
    color: var(--page-background);
    text-align: center;
}

.content-wrapper {
    max-width: 960px; 
    margin: 0 auto;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 15px;
    backdrop-filter: blur(5px);
    
}

header.page-title {
    height: 100%;
    width: 100%;
    background-image: url("../images/Kawaii-Dake-Ja-Nai-Shikimori-san-Episode-3.jpg");
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content:center;
    align-items:center;
}
header.page-title-top {
    height: 100%;
    width: 100%;
    background-image: url("../images/Kawaii-Dake-Ja-Nai-Shikimori-san-Episode-3.jpg");
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content:center;
    align-items:baseline;
    padding-top: 5rem;
}
header.page-title h1 {
    justify-content:center;
    color: white;
    font-size: 6rem;
    border: none;
    max-width: 960px; 
    margin: 0 auto;
    padding: 1rem;
    background-color: rgba(59, 59, 59, 0.5);
    border-radius: 15px;
    backdrop-filter: blur(5px);
    
}
header.page-title-top h1 {
    color: white;
    font-size: 6rem;
    border: none;
    max-width: 960px; 
    margin: 0 auto;
    padding: 1rem;
    background-color: rgba(59, 59, 59, 0.5);
    border-radius: 15px;
    backdrop-filter: blur(5px);
}
body > nav  {
    position: fixed;
    top:0;
    background-color: rgba(236, 205, 229, 0.5);
    backdrop-filter: blur(5px);
    left:0;
    right:0;
    z-index: 1;
}
ul.main-menu{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

UL.main-menu li{
    display: inline-block;
}
ul.main-menu li a {
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    font-size: 100%;
    padding: 1em;
    display: block;
    text-decoration: none;
    color: rgb(255, 255, 255);
    
}
ul.main-menu li a:hover{
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    font-size: 100%;
    background-color: var(--hover-color);
    color: white;
}
section.list-colorized {
    text-align: justify;
    font-family: 'Montserrat', sans-serif;
    font-weight:400;
    color: black;
}
section.text h1,h2{
    color: black;
    border: none;
    padding: 0;
    margin: 0;
}
html {
    height: 100%;
  }



  
  .parallax {
    /* The image used */
    background-image: url("../images/Kawaii-Dake-Ja-Nai-Shikimori-san-Episode-3.jpg");
  
    /* Full height */
    height: 100%;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  @media only screen and (max-width: 600px) {
    body {
        width: 100%;
    }
    header.page-title h1, header.page-title-top h1 {
        justify-content:center;
        color: white;
        font-size: 4rem;
        border: none;
         max-width: 960px; 
        margin: 0 auto;
        padding: 1rem;
        background-color: rgba(59, 59, 59, 0.5);
        border-radius: 15px;
        backdrop-filter: blur(5px);
        text-align: center;
    }
  }
  @media only screen and (max-width: 300px) {
    header.page-title h1,header.page-title-top h1 {
        justify-content:center;
        color: white;
        font-size: 2rem;
        border: none;
        max-width: 960px; 
        margin: 0 auto;
        padding: 1rem;
        background-color: rgba(59, 59, 59, 0.5);
        border-radius: 15px;
        backdrop-filter: blur(5px);
        text-align: center;
    }
    UL.main-menu li a:hover{
        display: inline-block;
        background-size: cover;
        background-color: var(--hover-color);
        width: 100%;
    }
}
section.red h2 {
    color: #ff0000;
    font-weight: bold;
    text-align: center;
}
section li {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: var(--accent-color);
}
section li a:hover {
    color: var(--accent-color)
}

